{"gilhari_microservice_name": "gilhari_streaming_example",
 "jdx_orm_spec_file": "./config/gilhari_streaming_example.jdx",
 "jdbc_driver_path": "/node/node_modules/jdxnode/external_libs/sqlite-jdbc-3.50.3.0.jar",
 "jdx_debug_level": 5,
 "jdx_force_create_schema": "true",
 "jdx_persistent_classes_location": "./bin",
 "classnames_map_file": "config/classnames_map_example.json",
 "gilhari_rest_server_port": 8081
 }
